* {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro',sans-serif;
}

h1 { 
  font-size: 2em; 
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

body {
  background: #e3e0cf;
  height: 100%;
}

body li { 
  text-decoration: none;
  list-style: none;
}

#header {
  background: #3c948b;
  display:flex;
  justify-content: space-between;
  overflow:auto;
  padding: 15px;
  align-items: center;
}

#headerLeft {
  display:inline-block;
  vertical-align:top;
}

#headerLogo {
  display: inline-block;
  padding: 12px;
  font-weight: bold;
  font-size: 2em;
}

#headerSearch {
  display: inline-block;
  font-size:0; 
}

#headerSearchInput {
  height: 33px;
  line-height: normal;
  border: none;
  padding: 5px;
  width: 1000px
}

#headerSearchButton {
  height: 43px;
  width: 25px;
  line-height: normal;
  background: url("http://i.imgur.com/ePNPopY.png") no-repeat scroll center center #3b3a36;
  border: none;
  font-size: 0px;
  display: inline-block;
  vertical-align: bottom;
}

.dropbtn {
    background-color: #343434;
    color: white;
    padding: 13px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#headerRight:hover .dropdown-content {
    display: block;
}

#headerRight:hover .dropbtn {
    background-color: #856046;
    transition:  background-color 0.5s;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

#headerRight {
  color: #FFF;
  text-decoration: none;
}

#mainContainer, #sideContainer {
  flex: 1 1 auto;
  padding: 10px;
}

#wrapper {
  justify-content: space-around;
  clear: both;
  height: 100%;
}

#mainContainer {
  background: #e9ece5;
  width: 80%;
  margin: 0px auto;
}

#mainContainerTitle {
  padding: 20px;
  background: #343434;
  text-align: center;
  color: #FFF;
  margin-bottom: 10px;
}

#mainContainerFiles {
  display: flex;
  flex-wrap: wrap;
}

#mainContainerInput {
  margin: 10px 0px;
}

.mainContainerFile {
  padding: 10px;
}

#sideContainer {
  background: #c5d5cb;
  width: 20%;
}

#operations-template {
  padding: 20px;
}

#files-template {
  padding: 20px;
}

.accountInfo {
  background: #3c948b;
  padding: 40px 26px;
  margin: 10px 10px 10px 0px;
  transition:  background-color 0.5s;
}

.accountInfo:hover {
  background: #3c948b;
  padding: 40px 26px;
  margin: 10px 10px 10px 0px;
  transition:  background-color 0.5s;
}

.mainContainerFile {
  background: #3c948b;
  padding: 40px 26px;
  margin: 10px 10px 10px 0px;
  transition:  background-color 0.5s;
  min-width: 200px;
}

.mainContainerFile:hover {
  background: #3c948b;
  padding: 40px 26px;
  margin: 10px 10px 10px 0px;
  transition:  background-color 0.5s;
}

.mainContainerFile.pupil{
  background: #e6af4b;
  padding: 40px 26px;
  margin: 10px 10px 10px 0px;
  transition:  background-color 0.5s;
}

.mainContainerFile.teacher {
  background: #e05038;
  padding: 40px 26px;
  margin: 10px 10px 10px 0px;
  transition:  background-color 0.5s;
}

.mainContainerFile.admin {
  background: #729f98;
  padding: 40px 26px;
  margin: 10px 10px 10px 0px;
  transition:  background-color 0.5s;
}

.mainContainerFile.file {
  background: #4D923B;
  padding: 40px 26px;
  margin: 10px 10px 10px 0px;
  transition:  background-color 0.5s;
}

.mainContainerFile:hover, .mainContainerFile.pupil:hover, .mainContainerFile.file:hover, .mainContainerFile.admin:hover, .mainContainerFile.teacher:hover {
  background: #c0dfd9;
}

.mainContainerFile a {
  text-decoration: none;
  color: black;
}

.mainContainerFileDelete {
  background: #343434;
  color: #FFF;
  padding: 10px;
}

.mainContainerFileTitle {
  color: #000;
}

#upload_button {
  margin-top: 10px;
  background-color: #343434;
  border: none;
  padding: 10px;
  color: #FFF;
  transition:  background-color 0.5s;
}

#upload_button:hover {
  background-color: #856046;
}

#delete_button {
  margin-top: 10px;
  background-color: #e05038;
  border: none;
  padding: 10px;
  color: #FFF;
  transition:  background-color 0.5s;
}

#delete_button:hover {
  background-color: #E07563;
}

#filters {
  display: flex;
}

#filters input {
  margin-right: 10px;
  transition:  background-color 0.5s;
}

#filters input:Hover {
  margin-right: 10px;
  background: #c0dfd9;
}

#filters .off {
  background-color: #e05038;
}

#filters .on {
  background-color: #38e050;
}

/* Login Form Styling*/

#loginForm {
  padding: 40px;
  width: 274px;
  background-color: #FFF;
  margin: 50px auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

#loginForm h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
  color: #000;
  margin-bottom: 15px;
}

#loginForm input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#loginForm input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

#loginSubmitButton {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  border: 0px;
  color: #FFF;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #9fa8a3;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

#loginSubmitButton:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #c5d5cb;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

#loginForm a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

#loginForm a:hover {
  opacity: 1;
}
/*# sourceMappingURL=app.css.map */
